In [1]:
import pandas as pd
import numpy as np

In [ ]:
# pip install pandas

# **Pandas Series**
- Pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). The axis labels are collectively called index.
- Pandas Series can be created from the lists, dictionary, and from a scalar value etc.

## Creating Pandas Series

In [5]:
ls = [-1,-2,-3,-4,-50]
data =pd.Series(ls)

In [6]:
data

0    -1
1    -2
2    -3
3    -4
4   -50
dtype: int64

In [14]:
data[-2]

'k'

In [4]:
type(data), type(ls)

(pandas.core.series.Series, list)

In [13]:
data[-1]

's'

In [7]:
# creating a series
data = pd.Series([1, 6, 4, 9], index=['a', 'b', 'd', 'e'])
data

a    1
b    6
d    4
e    9
dtype: int64

In [8]:
# creating a series from list
ls = ['a', 'b' , 'c', 'd']
Pandas_Series1 = pd.Series(ls)
Pandas_Series1

0    a
1    b
2    c
3    d
dtype: object

In [9]:
# creating a series from numpy Array
data = np.array(['g', 'e', 'e', 'k', 's'])
Pandas_Series2 = pd.Series(data)
Pandas_Series2

0    g
1    e
2    e
3    k
4    s
dtype: object

In [10]:
# creating a series from dictionary
dict = {'a' : 10,
        'x' : 20,
        'n' : 30}
Pandas_Series3 = pd.Series(dict)
Pandas_Series3

a    10
x    20
n    30
dtype: int64

In [11]:
Pandas_Series3[-1]

30

In [ ]:
Pandas_Series3['a':'n']

a    10
x    20
n    30
dtype: int64

In [ ]:
ls = [-1,-2,-3,-4,-50]
s1 = pd.Series(ls)
s1

0    -1
1    -2
2    -3
3    -4
4   -50
dtype: int64

In [ ]:
s1[0:4:2]

0   -1
2   -3
dtype: int64

In [ ]:
# creating a series from a column of DataFrame
#Pandas_Series = pd.Series(df['Name'])

## Accessing pandas Series Elements

In [ ]:
data = np.array(['d', 'e', '2', 's', 'f', 't', 'r', 'f', 'e', 'e', '4', 's'])
ps = pd.Series(data) # ps: pandas series
ps

0     d
1     e
2     2
3     s
4     f
5     t
6     r
7     f
8     e
9     e
10    4
11    s
dtype: object

In [ ]:
ps[ps > 'e']

3     s
4     f
5     t
6     r
7     f
11    s
dtype: object

In [ ]:
ps.dtypes

dtype('O')

In [ ]:
ps[::-1]

11    s
10    4
9     e
8     e
7     f
6     r
5     t
4     f
3     s
2     2
1     e
0     d
dtype: object

In [ ]:
print(ps[0])  #Retrieve the first element

d

In [ ]:
ps[[2, 4, 10]] #accessing a multiple element using index

2     2
4     f
10    4
dtype: object

In [ ]:
print(ps[-1:]) #Retrieve the last element

11    s
dtype: object

In [ ]:
print(ps[:5])  #Accessing first 5 elements of Series

0    d
1    e
2    2
3    s
4    f
dtype: object

In [ ]:
ps[7:] #Accessing elements from index7 to end

7     f
8     e
9     e
10    4
11    s
dtype: object

In [ ]:
ps[2:7]  #Accessing elements from index2 to index6

2    2
3    s
4    f
5    t
6    r
dtype: object

In [2]:
s1 = pd.Series([1,2,3,4])
s2 = pd.Series([10,20,30,40, 50])

NameError: name 'pd' is not defined

In [ ]:
s3  = s1 * s2

In [3]:
import pandas as pd

In [4]:
s4 = pd.Series([1,20,3,4])
s4

0     1
1    20
2     3
3     4
dtype: int64

In [5]:
type(s4)

pandas.core.series.Series

In [6]:
s4 = s4.sort_values()
#Is equivalent to
s4.sort_values(inplace = True)
#not equal to 
s4.sort_values() #the sorting effect does not get saved to s4

0     1
2     3
3     4
1    20
dtype: int64

In [16]:
type(s4)

pandas.core.series.Series

In [ ]:
arr = np.linspace(3, 40, 11)
arr

array([ 3. ,  6.7, 10.4, 14.1, 17.8, 21.5, 25.2, 28.9, 32.6, 36.3, 40. ])

In [7]:
s5 = pd.Series([1,20,3,6, 4])
s6 = pd.Series([-1,-20,-3,-6, -4])

In [ ]:
s6 = pd.concat([s5, s6], keys= ('positive', 'negative'))
s6

positive  0     1
          1    20
          2     3
          3     6
          4     4
negative  0    -1
          1   -20
          2    -3
          3    -6
          4    -4
dtype: int64

In [ ]:
s6['positive'][3]

6

In [ ]:
s6['positive', 3]

6

## Filtering a Series
- Syntax: Series.filter(items=None, like=None, regex=None, axis=None)

Parameter :
items : List of axis to restrict to (must not all be present).
like : Keep axis where “arg in col == True”.
regex : Keep axis with re.search(regex, col) == True.
axis : The axis to filter on. By default this is the info axis, ‘index’ for Series, ‘columns’ for DataFrame.

In [ ]:
sr = pd.Series(['New York', 'Chicago', 'Toronto', 'Lisbon', 'Rio'], index = ['City 1', 'City 2', 'City 3', 'City 4', 'City 5'] )
sr

City 1    New York
City 2     Chicago
City 3     Toronto
City 4      Lisbon
City 5         Rio
dtype: object

In [ ]:
sr[['City 1', 'City 2']]

City 1    New York
City 2     Chicago
dtype: object

In [ ]:
# filter values
result = sr.filter(items = ['City 2', 'City 4'])
result

City 2    Chicago
City 4     Lisbon
dtype: object

In [ ]:
#filter those values whose index label name has a space in its name.
result = sr.filter(regex = '. .') #Regular expression - A set of general rules to select text
result

City 1    New York
City 2     Chicago
City 3     Toronto
City 4      Lisbon
City 5         Rio
dtype: object

In [ ]:
result = sr.filter(like = 'y') # filters index, case sensitive 
result

City 1    New York
City 2     Chicago
City 3     Toronto
City 4      Lisbon
City 5         Rio
dtype: object

# Arithmetic Operations

In [ ]:
series1 = pd.Series([1, 2, 3, 4, 5])
series2 = pd.Series([6, 7, 8, 9, 10])
print(series1, "\n\n", series2)
# series1, series2

0    1
1    2
2    3
3    4
4    5
dtype: int64

 0     6
1     7
2     8
3     9
4    10
dtype: int64

In [ ]:
series3 = series1 + series2  # Pointwise addition 
series3

0     7
1     9
2    11
3    13
4    15
dtype: int64

In [ ]:
series4 = series1 - series2  #Pointwise Subtraction 
series4

0   -5
1   -5
2   -5
3   -5
4   -5
dtype: int64

In [ ]:
series5 = series1 * series2  #Pointwise Multiplication 
series5

0     6
1    14
2    24
3    36
4    50
dtype: int64

In [ ]:
series6 = series1 / series2  # Division 
series6

0    0.166667
1    0.285714
2    0.375000
3    0.444444
4    0.500000
dtype: float64

# Series Ranking and Sorting

In [22]:
movies = {'Name': ['The Godfather', 'Bird Box', 'Fight Club'],
         'Year': ['1972', '2018', '1999'],
         'Rating': ['3.2', '2.8', '1.8']}
  
df = pd.DataFrame(movies)
df

            Name  Year Rating
0  The Godfather  1972    3.2
1       Bird Box  2018    2.8
2     Fight Club  1999    1.8

In [23]:
#Ranking is done according to a column
#w.r.t Different columns, we are going to get different ranking (of rows)
df['Rating'].rank() #Accrding to 'Rating' column what are the ranks for each row?

0    3.0
1    2.0
2    1.0
Name: Rating, dtype: float64

In [10]:
df['Rating_Rank'] = df['Rating'].rank(ascending = True)
df

            Name  Year Rating  Rating_Rank
0  The Godfather  1972    9.2          3.0
1       Bird Box  2018    6.8          1.0
2     Fight Club  1999    8.8          2.0

In [12]:
df['fun'] = [-1, -2,-3]
df

            Name  Year Rating  Rating_Rank  fun
0  The Godfather  1972    9.2          3.0   -1
1       Bird Box  2018    6.8          1.0   -2
2     Fight Club  1999    8.8          2.0   -3

In [13]:
df['Rating_Rank'] = df['Rating'].rank(ascending = True)
df

            Name  Year Rating  Rating_Rank  fun
0  The Godfather  1972    9.2          3.0   -1
1       Bird Box  2018    6.8          1.0   -2
2     Fight Club  1999    8.8          2.0   -3

In [14]:
df['Rating_Rank'] = df['Name'].rank()
df

            Name  Year Rating  Rating_Rank  fun
0  The Godfather  1972    9.2          3.0   -1
1       Bird Box  2018    6.8          1.0   -2
2     Fight Club  1999    8.8          2.0   -3

In [15]:

df['Rating_Rank'] = df['Name'].rank()
df

            Name  Year Rating  Rating_Rank  fun
0  The Godfather  1972    9.2          3.0   -1
1       Bird Box  2018    6.8          1.0   -2
2     Fight Club  1999    8.8          2.0   -3

In [ ]:
df.sort_values(by = ['Year'], ascending=False) #The row containing '2018' as year comes first

   Name  Year Rating  Rating_Rank
1  mom1  2018    6.8          2.0
2  mom2  1999    8.8          3.0
0   mom  1972    9.2          1.0

# Checking Null Values
In Pandas missing data is represented by two value:

1.   None: None is a Python singleton object that is often used for missing data in Python code.
2.   NaN : NaN (an acronym for Not a Number)

In [ ]:
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, None, np.nan],
        'Third Score':[np.nan, 40, 80, 98]}
df = pd.DataFrame(dict)  # Creating DataFrame
df

   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         40.0
2          NaN           NaN         80.0
3         95.0           NaN         98.0

In [ ]:
df.isnull() #True if a Null value is there

   First Score  Second Score  Third Score
0        False         False         True
1        False         False        False
2         True          True        False
3        False          True        False

In [ ]:
df.isnull().sum() #Total number of null/nan values per column

First Score     1
Second Score    2
Third Score     1
dtype: int64

In [ ]:
df.fillna('zzzz')   # filling missing value using fillna()

  First Score Second Score Third Score
0       100.0         30.0        zzzz
1        90.0         45.0        40.0
2        zzzz         zzzz        80.0
3        95.0         zzzz        98.0

In [ ]:
df

   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         40.0
2          NaN           NaN         80.0
3         95.0           NaN         98.0

In [ ]:
df.fillna(method ='pad')  # filling a missing value with previous value

   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         40.0
2         90.0          45.0         80.0
3         95.0          45.0         98.0

In [ ]:
df.fillna(value = {'First Score': 93, 'Second Score': 43,'Third Score':60 })  
  # filling a missing value manually

   First Score  Second Score  Third Score
0        100.0          30.0         60.0
1         90.0          45.0         40.0
2         93.0          43.0         80.0
3         95.0          43.0         98.0

In [ ]:
df

   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         40.0
2          NaN           NaN         80.0
3         95.0           NaN         98.0

In [ ]:
df.mean()

First Score     95.000000
Second Score    37.500000
Third Score     72.666667
dtype: float64

In [ ]:
df.fillna(value = df.mean())   # filling a missing value by mean of that column

   First Score  Second Score  Third Score
0        100.0          30.0    72.666667
1         90.0          45.0    40.000000
2         95.0          37.5    80.000000
3         95.0          37.5    98.000000

In [ ]:
df.interpolate(method ='linear', limit_direction ='backward')    #to interpolate the missing values , limit_direction =backward/forward

   First Score  Second Score  Third Score
0        100.0          30.0         40.0
1         90.0          45.0         40.0
2         92.5           NaN         80.0
3         95.0           NaN         98.0

In [ ]:
df

   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         40.0
2          NaN           NaN         80.0
3         95.0           NaN         98.0

In [ ]:
df.interpolate(method ='linear', limit_direction ='forward')

   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         40.0
2         92.5          45.0         80.0
3         95.0          45.0         98.0

In [ ]:
df.dropna() #Dropping/deleting the entire row even if just a single Nan (default parameter) is present in the row

   First Score  Second Score  Third Score
1         90.0          45.0         40.0

# Concatenation

Default: pandas.concat(objs, axis=0, join='outer', ignore_index=False, keys=None, levels=None, names=None, verify_integrity=False, sort=False, copy=True)

- Series Concatenation

In [ ]:
s1 = pd.Series(['a', 'b'])
s2 = pd.Series(['c', 'd'])
print(s1, "\n\n", s2)

0    a
1    b
dtype: object

 0    c
1    d
dtype: object

In [ ]:
pd.concat([s1, s2], axis = 1) #If axis=1, axis 1 (columns) gets expanded

   0  1
0  a  c
1  b  d

In [ ]:
pd.concat([s1, s2], axis = 0)

0    a
1    b
0    c
1    d
dtype: object

In [ ]:
pd.concat([s1, s2], ignore_index=True)

0    a
1    b
2    c
3    d
dtype: object

In [ ]:
pd.concat([s1, s2], keys=['s11', 's22'])

s11  0    a
     1    b
s22  0    c
     1    d
dtype: object

In [ ]:
foo = pd.concat([s1, s2], keys=['s11', 's22'])
foo

s11  0    a
     1    b
s22  0    c
     1    d
dtype: object

In [ ]:
foo['s11'][0] #Multi indexing. s11->1st index, 0,1 -> 2nd index

'a'

In [ ]:
foo['s22'][1]

'd'

# Reading Data from Various Files

In [ ]:
pd.read_csv(file path) # for file in CSV format csv is like excel sheet
pd.read_html(file path) # for file in HTML format 
pd.read_json(file path) # for file in JSON format 
pd.read_xml(file path) # for file in XML format

# Accessing elements from Pandas Dataframe using Indexing

In [ ]:
import pandas as pd

In [ ]:
data = pd.DataFrame(data = {'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                    index = [0, 1, 2, 3])
data

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      object
 1   B       4 non-null      object
 2   C       4 non-null      object
 3   D       4 non-null      object
dtypes: object(4)
memory usage: 160.0+ bytes

In [ ]:
data.shape

(4, 4)

In [ ]:
data.head(n=2) #Get top 5 rows

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1

In [ ]:
data.tail(2) #By default get bottom 5 rows

    A   B   C   D
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [ ]:
data.sample(3) #Random rows

    A   B   C   D
0  A0  B0  C0  D0
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [ ]:
type(data)

pandas.core.frame.DataFrame

In [ ]:
data['A'] # access columns from Dataframe

0    A0
1    A1
2    A2
3    A3
Name: A, dtype: object

In [ ]:
data[['A']]

    A
0  A0
1  A1
2  A2
3  A3

In [ ]:
type(data[['A']])

pandas.core.frame.DataFrame

In [ ]:
data.at[3, 'B']  # Syntax: data.at[position, label]

'B3'

In [ ]:
data

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [ ]:
data['B'].isin(['B1', 'B3'])

0    False
1     True
2    False
3     True
Name: B, dtype: bool

In [ ]:
data = pd.DataFrame({'Brand' : ['Maruti', 'Hyundai', 'Tata',
                                'Mahindra', 'Maruti', 'Hyundai',
                                'Renault', 'Tata', 'Maruti'],
                     'Year' : [2012, 2014, 2011, 2015, 2012, 
                               2016, 2014, 2018, 2019],
                     'Kms Driven' : [50000, 30000, 60000, 
                                     25000, 10000, 46000, 
                                     31000, 15000, 12000],
                     'City' : ['Gurgaon', 'Delhi', 'Mumbai', 
                               'Delhi', 'Mumbai', 'Delhi', 
                               'Mumbai','Chennai',  'Ghaziabad'],
                     'Mileage' :  [28, 27, 25, 26, 28, 
                                   29, 24, 21, 24]})
data

      Brand  Year  Kms Driven       City  Mileage
0    Maruti  2012       50000    Gurgaon       28
1   Hyundai  2014       30000      Delhi       27
2      Tata  2011       60000     Mumbai       25
3  Mahindra  2015       25000      Delhi       26
4    Maruti  2012       10000     Mumbai       28
5   Hyundai  2016       46000      Delhi       29
6   Renault  2014       31000     Mumbai       24
7      Tata  2018       15000    Chennai       21
8    Maruti  2019       12000  Ghaziabad       24

In [ ]:
# selecting range of rows from 2 to 5 by .loc()
data.loc[2 : 5] #inclusive 5

      Brand  Year  Kms Driven    City  Mileage
2      Tata  2011       60000  Mumbai       25
3  Mahindra  2015       25000   Delhi       26
4    Maruti  2012       10000  Mumbai       28
5   Hyundai  2016       46000   Delhi       29

In [ ]:
data.loc[(data.Brand == 'Maruti')]  # Selecting rows whose Brand is 'Maruti'

    Brand  Year  Kms Driven       City  Mileage
0  Maruti  2012       50000    Gurgaon       28
4  Maruti  2012       10000     Mumbai       28
8  Maruti  2019       12000  Ghaziabad       24

In [ ]:
data.loc[(data.Brand == 'Maruti') & (data.Mileage > 25)]  # selecting rows with brand 'Maruti' and Mileage > 25

    Brand  Year  Kms Driven     City  Mileage
0  Maruti  2012       50000  Gurgaon       28
4  Maruti  2012       10000   Mumbai       28

In [ ]:
data.loc[(data.Brand == 'Maruti') & (data.Mileage > 25)][['City', 'Mileage']]

      City  Mileage
0  Gurgaon       28
4   Mumbai       28

In [ ]:
#iloc: integer location vs loc is for labels
# selecting range of rows from 2 to 5 by .iloc()
data.iloc[2 : 6]  # (from 2 to length-1 of the axis)

      Brand  Year  Kms Driven    City  Mileage
2      Tata  2011       60000  Mumbai       25
3  Mahindra  2015       25000   Delhi       26
4    Maruti  2012       10000  Mumbai       28
5   Hyundai  2016       46000   Delhi       29

In [ ]:
data.iloc[2:6, 1:4] #similar to numpy array slicing

   Year  Kms Driven    City
2  2011       60000  Mumbai
3  2015       25000   Delhi
4  2012       10000  Mumbai
5  2016       46000   Delhi

In [ ]:
data

      Brand  Year  Kms Driven       City  Mileage
0    Maruti  2012       50000    Gurgaon       28
1   Hyundai  2014       30000      Delhi       27
2      Tata  2011       60000     Mumbai       25
3  Mahindra  2015       25000      Delhi       26
4    Maruti  2012       10000     Mumbai       28
5   Hyundai  2016       46000      Delhi       29
6   Renault  2014       31000     Mumbai       24
7      Tata  2018       15000    Chennai       21
8    Maruti  2019       12000  Ghaziabad       24

In [ ]:
data.iloc[2:6, data.Brand=='Maruti']

NotImplementedError: iLocation based boolean indexing on an integer type is not available

In [ ]:
data.iloc[[0, 2, 4, 7]] # Only selected Rows

    Brand  Year  Kms Driven     City  Mileage
0  Maruti  2012       50000  Gurgaon       28
2    Tata  2011       60000   Mumbai       25
4  Maruti  2012       10000   Mumbai       28
7    Tata  2018       15000  Chennai       21

In [ ]:
data.iloc[1 : 5, 2 : 4] # [row, column]

   Kms Driven    City
1       30000   Delhi
2       60000  Mumbai
3       25000   Delhi
4       10000  Mumbai

# Dataframe Sorting

In [ ]:
import numpy as np

In [ ]:
age_list = [['Afghanistan',1952,8425333,'Asia'],
            ['Australia',1957,9712569,'Oceania'],
            ['Brazil',1962,76039390,'Americas'],
            ['China',1957,637408000,'Asia'],
            ['France',1957,44310863,'Europe'],
            ['India',1952,3.72e+08,'Asia'],
            ['United States', 1957, np.nan, 'Americas']]
  

age_df = pd.DataFrame(age_list,columns=['Country','Year',
                                    'Population','Continent'])
age_df

         Country  Year   Population Continent
0    Afghanistan  1952    8425333.0      Asia
1      Australia  1957    9712569.0   Oceania
2         Brazil  1962   76039390.0  Americas
3          China  1957  637408000.0      Asia
4         France  1957   44310863.0    Europe
5          India  1952  372000000.0      Asia
6  United States  1957          NaN  Americas

In [ ]:
# Sorting by column 'Country'
#sorting happens for the entire dataframe and not just one column
age_df.sort_values(by=['Country'])  # default : ascending

         Country  Year   Population Continent
0    Afghanistan  1952    8425333.0      Asia
1      Australia  1957    9712569.0   Oceania
2         Brazil  1962   76039390.0  Americas
3          China  1957  637408000.0      Asia
4         France  1957   44310863.0    Europe
5          India  1952  372000000.0      Asia
6  United States  1957          NaN  Americas

In [ ]:
age_df.sort_values(by=['Country'], ascending = False )

         Country  Year   Population Continent
6  United States  1957          NaN  Americas
5          India  1952  372000000.0      Asia
4         France  1957   44310863.0    Europe
3          China  1957  637408000.0      Asia
2         Brazil  1962   76039390.0  Americas
1      Australia  1957    9712569.0   Oceania
0    Afghanistan  1952    8425333.0      Asia

In [ ]:
age_df.sort_values(by=['Population'], na_position='first')  # by putting missing values first

         Country  Year   Population Continent
6  United States  1957          NaN  Americas
0    Afghanistan  1952    8425333.0      Asia
1      Australia  1957    9712569.0   Oceania
4         France  1957   44310863.0    Europe
2         Brazil  1962   76039390.0  Americas
5          India  1952  372000000.0      Asia
3          China  1957  637408000.0      Asia

# Ranking in Dataframe

To rank the rows of Pandas DataFrame we can use the DataFrame.rank() method which returns a rank of every respective index of a series passed. The rank is returned on the basis of position after sorting

In [ ]:
movies = {'Name': ['The Godfather', 'Bird Box', 'Fight Club'],
         'Year': ['1972', '2018', '1999'],
         'Rating': ['9.2', '6.8', '8.8']}
  
movies_df = pd.DataFrame(movies)

In [ ]:
movies_df

            Name  Year Rating
0  The Godfather  1972    9.2
1       Bird Box  2018    6.8
2     Fight Club  1999    8.8

In [ ]:
movies_df['Rating'].rank(ascending = True)

0    3.0
1    1.0
2    2.0
Name: Rating, dtype: float64

In [ ]:
movies_df['Rating_Rank'] = movies_df['Rating'].rank(ascending = True)
movies_df = movies_df.set_index('Rating_Rank')   # Set the index to newly created column, Rating_Rank
# movies_df

In [ ]:
movies_df

                      Name  Year Rating
Rating_Rank
3.0          The Godfather  1972    9.2
1.0               Bird Box  2018    6.8
2.0             Fight Club  1999    8.8

# Dataframe Concatenation

In [4]:
df1 = pd.DataFrame([['a', 1], ['b', 2]],
                   columns=['letter', 'number'])
df2 = pd.DataFrame([['c', 3], ['d', 4]],
                   columns=['letter', 'number'])
df3 = pd.DataFrame([['c', 3, 'cat'], ['d', 4, 'dog']],
                   columns=['letter', 'number', 'animal'])

In [3]:
import pandas as pd

In [ ]:
df2

  letter  number
0      c       3
1      d       4

In [ ]:
df3

  letter  number animal
0      c       3    cat
1      d       4    dog

In [5]:
pd.concat([df1, df2])

  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

In [ ]:
pd.concat([df1, df2], ignore_index=True)

  letter  number
0      a       1
1      b       2
2      c       3
3      d       4

In [ ]:
df4 = df2.copy() #Ensuring deep copy of the data frame
df4

  letter  number
0      c       3
1      d       4

In [ ]:
pd.concat([df1, df2, df4])

  letter  number
0      a       1
1      b       2
0      c       3
1      d       4
0      c       3
1      d       4

In [ ]:
pd.concat([df1, df2], axis=1)

  letter  number letter  number
0      a       1      c       3
1      b       2      d       4

In [ ]:
pd.concat([df1, df3], sort=False) # Default: join = 'outer'

  letter  number animal
0      a       1    NaN
1      b       2    NaN
0      c       3    cat
1      d       4    dog

In [ ]:
pd.concat([df1, df3], join="inner") # inner join returns only common columns

  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

In [ ]:
df4 = pd.DataFrame([['bird', 'polly'], ['monkey', 'george']],
                   columns=['animal', 'name'])

pd.concat([df1, df4], axis=0)

  letter  number  animal    name
0      a     1.0     NaN     NaN
1      b     2.0     NaN     NaN
0    NaN     NaN    bird   polly
1    NaN     NaN  monkey  george

In [ ]:
pd.concat([df1, df4], axis=1)

  letter  number  animal    name
0      a       1    bird   polly
1      b       2  monkey  george

In [ ]:
# deep copy vs shallow copy
x = 4
y = x #Deep copy, x, y are pointing to different locations in memory
y = 10
x, y

(4, 10)

In [ ]:
ls = [1,2,3,4,5]
ls1 = ls #Shallow copy happens for list. ls1 and ls are pointing to the same location in memory. Modifying one affects the other 
ls1[0] = -10
ls, ls1

([-10, 2, 3, 4, 5], [-10, 2, 3, 4, 5])

In [ ]:
# copy library
#https://www.geeksforgeeks.org/copy-python-deep-copy-shallow-copy/

In [ ]:
df2

  letter  number
0      c       3
1      d       4

In [ ]:
df5 = df2 #shallow copy
df5

  letter  number
0      c       3
1      d       4

In [ ]:
df5.iloc[0,0] = 'zz'

In [ ]:
df5

  letter  number
0     zz       3
1      d       4

In [ ]:
df2

  letter  number
0     zz       3
1      d       4

In [ ]:
df6 = df5.copy() #deep copy

# Dataframe Joins

- Inner Join (A 'intersection' B)  : Use intersection of keys from both frames
- Outer Join (A 'union' B) : Use union of keys from both frames
- Left Outer Join ( A + (B - A 'intersection' B)) : Use keys from left frame only
- Right Outer Join ( (A - A 'intersection' B) + B ) : Use keys from right frame only
- Index Join

In [12]:
left_df = pd.DataFrame({"A": ["A0", "A1", "A2"], "B": ["B0", "B1", "B2"]}, index=["K0", "K1", "K2"])
right_df = pd.DataFrame({"C": ["C0", "C2", "C3"], "D": ["D0", "D2", "D3"]}, index=["K0", "K2", "K3"])

In [ ]:
left_df

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2

In [4]:
import pandas as pd

In [7]:
left_df.join(right_df, how='left')

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

In [13]:
result_Outer = left_df.join(right_df, how="left")  # outer join
result_Outer

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

In [ ]:
result_Outer = left_df.join(right_df, how="outer")  # outer join
result_Outer

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

In [ ]:
result_inner = left_df.join(right_df, how="inner")
result_inner

     A   B   C   D
K0  A0  B0  C0  D0
K2  A2  B2  C2  D2

In [ ]:
result_left = left_df.join(right_df, how="left")
result_left

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

In [ ]:
df1 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3', 'K4', 'K5'],
                   'A': ['A0', 'A1', 'A2', 'A3', 'A4', 'A5']},
                   index = ["1","2","3","4","5","6"])
df2 = pd.DataFrame({'key': ['K0', 'K1', 'K2'],
                      'B': ['B0', 'B1', 'B2']},
                   index = ["5","6","7"])

In [ ]:
df1.set_index('key').join(df2.set_index('key')) # ignores existing index & assigns 'key' as new index\\\

      A    B
key
K0   A0   B0
K1   A1   B1
K2   A2   B2
K3   A3  NaN
K4   A4  NaN
K5   A5  NaN

# Dataframe Merge

In [ ]:
data1 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
         'key1': ['K0', 'K1', 'K0', 'K1'],
         'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Age':[27, 24, 22, 32],}) 
data2 =pd.DataFrame({'key': ['K0', 'K1', 'K3', 'K4'],
         'key1': ['K0', 'K0', 'K0', 'K0'],
         'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'], 
        'Qualification':['Btech', 'B.A', 'Bcom', 'B.hons']})

In [ ]:
data1

  key key1    Name  Age
0  K0   K0     Jai   27
1  K1   K1  Princi   24
2  K2   K0  Gaurav   22
3  K3   K1    Anuj   32

In [ ]:
data2

  key key1    Address Qualification
0  K0   K0     Nagpur         Btech
1  K1   K0     Kanpur           B.A
2  K3   K0  Allahabad          Bcom
3  K4   K0    Kannuaj        B.hons

In [ ]:
res = pd.merge(data1, data2, on='key')  # merging based on single column 
res #Default is inner join

  key key1_x    Name  Age key1_y    Address Qualification
0  K0     K0     Jai   27     K0     Nagpur         Btech
1  K1     K1  Princi   24     K0     Kanpur           B.A
2  K3     K1    Anuj   32     K0  Allahabad          Bcom

In [ ]:
res1 = pd.merge(data1, data2, on=['key', 'key1']) # merge dataframe using multiple keys
res1

  key key1 Name  Age Address Qualification
0  K0   K0  Jai   27  Nagpur         Btech

In [ ]:
res3 = pd.merge(data1, data2, how='inner', on=['key1']) 
res3

  key_x key1    Name  Age key_y    Address Qualification
0    K0   K0     Jai   27    K0     Nagpur         Btech
1    K0   K0     Jai   27    K1     Kanpur           B.A
2    K0   K0     Jai   27    K2  Allahabad          Bcom
3    K0   K0     Jai   27    K3    Kannuaj        B.hons
4    K2   K0  Gaurav   22    K0     Nagpur         Btech
5    K2   K0  Gaurav   22    K1     Kanpur           B.A
6    K2   K0  Gaurav   22    K2  Allahabad          Bcom
7    K2   K0  Gaurav   22    K3    Kannuaj        B.hons

# Pivot DataFrame

- Return reshaped DataFrame organized by given index / column values.
- pd.pivot(data, index=None, columns=None, values=None)

- *index*: Column to use to make new frame’s index. If None, uses existing index.
- *columns* : Column to use to make new frame’s columns.
- values: Column(s) to use for populating new frame’s values. If not specified, all remaining columns will be used and the result will have hierarchically indexed columns.

In [ ]:
import pandas as pd

In [ ]:
p_df = pd.DataFrame({'A': ['John', 'Boby', 'Mina'],
      'B': ['Masters', 'Graduate', 'Graduate'],
      'C': [27, 23, 21]})
  
p_df

      A         B   C
0  John   Masters  27
1  Boby  Graduate  23
2  Mina  Graduate  21

In [ ]:
p_df.pivot(index ='A', columns ='B', values =['C'])

            C
B    Graduate Masters
A
Boby     23.0     NaN
John      NaN    27.0
Mina     21.0     NaN

In [ ]:
foo = p_df.pivot(index ='A', columns ='B', values =['C'])
foo

            C
B    Graduate Masters
A
Boby     23.0     NaN
John      NaN    27.0
Mina     21.0     NaN

In [ ]:
foo['C']['Graduate']

A
Boby    23.0
John     NaN
Mina    21.0
Name: Graduate, dtype: float64

In [ ]:
df = pd.DataFrame({'foo': ['one', 'one', 'one', 'two', 'two',
                           'two'],
                   'bar': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'baz': [1, 2, 3, 4, 5, 6],
                   'zoo': ['x', 'y', 'z', 'q', 'w', 't']})
df

   foo bar  baz zoo
0  one   A    1   x
1  one   B    2   y
2  one   C    3   z
3  two   A    4   q
4  two   B    5   w
5  two   C    6   t

In [ ]:
df.pivot(index='foo', columns='bar')

    baz       zoo
bar   A  B  C   A  B  C
foo
one   1  2  3   x  y  z
two   4  5  6   q  w  t

In [ ]:
testt = df.pivot(index='foo', columns='bar', values=['baz', 'zoo'])
testt

    baz       zoo
bar   A  B  C   A  B  C
foo
one   1  2  3   x  y  z
two   4  5  6   q  w  t

In [ ]:
testt.loc[['baz']['A']]

TypeError: ignored

In [ ]:
testt['baz']['A']

foo
one    1
two    4
Name: A, dtype: object

In [ ]:
df.pivot(index='foo', columns='bar', values=['baz', 'zoo']) # choosing more that one column as values

    baz       zoo
bar   A  B  C   A  B  C
foo
one   1  2  3   x  y  z
two   4  5  6   q  w  t

# Pivot Tables

- Generalization of pivot that can handle duplicate values for one index/column pair.

In [ ]:
df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
                         "bar", "bar", "bar", "bar"],
                   "B": ["one", "one", "one", "two", "two",
                         "one", "one", "two", "two"],
                   "C": ["small", "large", "large", "small",
                         "small", "large", "small", "small",
                         "large"],
                   "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
                   "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})
df

     A    B      C  D  E
0  foo  one  small  1  2
1  foo  one  large  2  4
2  foo  one  large  2  5
3  foo  two  small  3  5
4  foo  two  small  3  6
5  bar  one  large  4  6
6  bar  one  small  5  8
7  bar  two  small  6  9
8  bar  two  large  7  9

In [ ]:
import numpy as np

In [ ]:
#aggregates values by taking the sum
table1 = pd.pivot_table(values='D', data = df, index=['A', 'B'],
                    columns=['C'], aggfunc=np.sum)
table1

C        large  small
A   B
bar one    4.0    5.0
    two    7.0    6.0
foo one    4.0    1.0
    two    NaN    6.0

In [ ]:
#fill missing values using the fill_value parameter.
table2 = pd.pivot_table(df, values='D', index=['A', 'B'],
                    columns=['C'], aggfunc=np.sum, fill_value='zzzz')
table2

C       large  small
A   B
bar one   4.0    5.0
    two   7.0    6.0
foo one   4.0    1.0
    two  zzzz    6.0

In [ ]:
# aggregates by taking the mean across multiple columns.
table3 = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'],
                    aggfunc={'D': np.mean,
                             'E': np.mean})
table3

                  D         E
A   C
bar large  5.500000  7.500000
    small  5.500000  8.500000
foo large  2.000000  4.500000
    small  2.333333  4.333333

In [ ]:
#calculate multiple types of aggregations for any given value column.
table4 = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'],
                    aggfunc={'D': np.mean,
                             'E': [min, max, np.mean]})
table4

                  D    E
               mean  max      mean  min
A   C
bar large  5.500000  9.0  7.500000  6.0
    small  5.500000  9.0  8.500000  8.0
foo large  2.000000  5.0  4.500000  4.0
    small  2.333333  6.0  4.333333  2.0

# Reshaping Dataframe
- Reshaping by stacking and unstacking
- Reshaping by melt

- **Stack**

In [ ]:
s_df = pd.DataFrame([[0, 1], [2, 3]],
                                    index=['cat', 'dog'],
                                    columns=['weight', 'height'])
s_df

     weight  height
cat       0       1
dog       2       3

In [ ]:
s_df.stack() # Stacking single column dataframe

cat  weight    0
     height    1
dog  weight    2
     height    3
dtype: int64

In [ ]:
# Multicolumn Stacking

multicol2 = pd.MultiIndex.from_tuples([('weight', 'kg'),
                                       ('height', 'm')])
df_multi_level_cols2 = pd.DataFrame([[1.0, 2.0], [3.0, 4.0]],
                                    index=['cat', 'dog'],
                                    columns=multicol2)
df_multi_level_cols2

    weight height
        kg      m
cat    1.0    2.0
dog    3.0    4.0

In [ ]:
df_multi_level_cols2.stack()

        height  weight
cat kg     NaN     1.0
    m      2.0     NaN
dog kg     NaN     3.0
    m      4.0     NaN

In [ ]:
df_multi_level_cols3 = pd.DataFrame([[None, 1.0], [2.0, 3.0]],
                                    index=['cat', 'dog'],
                                    columns=multicol2)
df_multi_level_cols3.stack()

        height  weight
cat m      1.0     NaN
dog kg     NaN     2.0
    m      3.0     NaN

In [ ]:
df_multi_level_cols3.stack(dropna=False)

        height  weight
cat kg     NaN     NaN
    m      1.0     NaN
dog kg     NaN     2.0
    m      3.0     NaN

In [ ]:
df_multi_level_cols3.stack(dropna=True)  # rows where all values are missing are dropped

        height  weight
cat m      1.0     NaN
dog kg     NaN     2.0
    m      3.0     NaN

- **Unstack**

DataFrame.unstack(level=- 1, fill_value=None)

-

In [ ]:
index = pd.MultiIndex.from_tuples([('one', 'a'), ('one', 'b'),
                                   ('two', 'a'), ('two', 'b')])
s = pd.Series(np.arange(1.0, 5.0), index=index)
s

one  a    1.0
     b    2.0
two  a    3.0
     b    4.0
dtype: float64

In [ ]:
s.unstack(level=-1) #Unstacked by last level (a,b)

       a    b
one  1.0  2.0
two  3.0  4.0

In [ ]:
s.unstack(level=0) #Unstacked by first level (one,two)

   one  two
a  1.0  3.0
b  2.0  4.0

# Cross Tables

Compute a simple cross tabulation of two (or more) factors. By default computes a frequency table of the factors unless an array of values and an aggregation function are passed.

In [ ]:
a = np.array(["foo", "foo", "foo", "foo", "bar", "bar",
              "bar", "bar", "foo", "foo", "foo"], dtype=object)
b = np.array(["one", "one", "one", "two", "one", "one",
              "one", "two", "two", "two", "one"], dtype=object)
c = np.array(["dull", "dull", "shiny", "dull", "dull", "shiny",
              "shiny", "dull", "shiny", "shiny", "shiny"],
             dtype=object)

In [ ]:
a = np.array(["foo", "foo", "foo", "foo", "bar", "bar",
              "bar", "bar", "foo", "foo", "foo"])
b = np.array(["one", "one", "one", "two", "one", "one",
              "one", "two", "two", "two", "one"])
c = np.array(["dull", "dull", "shiny", "dull", "dull", "shiny",
              "shiny", "dull", "shiny", "shiny", "shiny"])

In [ ]:
a

array(['foo', 'foo', 'foo', 'foo', 'bar', 'bar', 'bar', 'bar', 'foo',
       'foo', 'foo'], dtype='<U3')

In [ ]:
b

array(['one', 'one', 'one', 'two', 'one', 'one', 'one', 'two', 'two',
       'two', 'one'], dtype='<U3')

In [ ]:
c

array(['dull', 'dull', 'shiny', 'dull', 'dull', 'shiny', 'shiny', 'dull',
       'shiny', 'shiny', 'shiny'], dtype='<U5')

In [ ]:
pd.crosstab(index = a, columns = [b, c])

col_0  one        two
col_1 dull shiny dull shiny
row_0
bar      1     2    1     0
foo      2     2    1     2

In [ ]:
pd.crosstab(index = a, columns = [b, c])

col_0  one        two
col_1 dull shiny dull shiny
row_0
bar      1     2    1     0
foo      2     2    1     2

# Checking Duplicates

In [14]:
ddf = pd.DataFrame({
    'brand': ['Yum Yum', 'Yum Yum', 'Indomie', 'Indomie', 'Indomie'],
    'style': ['cup', 'cup', 'cup', 'pack', 'pack'],
    'rating': [4, 4, 3.5, 15, 5] 
    })
ddf

     brand style  rating
0  Yum Yum   cup     4.0
1  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

In [15]:
ddf.duplicated() #Check duplicates

0    False
1     True
2    False
3    False
4    False
dtype: bool

In [16]:
ddf.drop_duplicates() # deleting duplocated rows

     brand style  rating
0  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

# Dropping Rows and Columns

In [20]:
df = pd.DataFrame(np.arange(12).reshape(3, 4),
                  columns=['A', 'B', 'C', 'D'])
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [19]:
import numpy as np

- Dropping Column

In [23]:
df.drop(df.index[0:3])

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [ ]:
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [ ]:
df.drop(columns=['B', 'C'])

   A   D
0  0   3
1  4   7
2  8  11

- Drop a row by index

In [ ]:
df.drop([0, 1], axis = 0) #default axis  is 0

   A  B   C   D
2  8  9  10  11

In [ ]:
df.drop([0, 1], axis = 1)

KeyError: ignored

# Replacing Values

In [ ]:
df = pd.DataFrame({'A': [0, 1, 2, 3, 4],
                   'B': [5, 6, 7, 8, 9],
                   'C': ['a', 'b', 'c', 'd', 'e']})
df

   A  B  C
0  0  5  a
1  1  6  b
2  2  7  c
3  3  8  d
4  4  9  e

In [ ]:
df.replace(0, 5)  #(to_replace, new value)

   A  B  C
0  5  5  a
1  1  6  b
2  2  7  c
3  3  8  d
4  4  9  e

In [ ]:
df.replace([0, 1, 2, 3], 4)  #(to_replace, value) , replace list by one value

   A  B  C
0  4  5  a
1  4  6  b
2  4  7  c
3  4  8  d
4  4  9  e

In [ ]:
df.replace([0, 1, 2, 3], [4, 3, 2, 1]) # replace list by list

   A  B  C
0  4  5  a
1  3  6  b
2  2  7  c
3  1  8  d
4  4  9  e

In [ ]:
df.replace({0: 10, 1: 100}) # replace by dictionary

     A  B  C
0   10  5  a
1  100  6  b
2    2  7  c
3    3  8  d
4    4  9  e

# Grouping Dataframe

In [ ]:
gdf = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
                              'Parrot', 'Parrot'],
                   'Max Speed': [380., 370., 24., 26.]})
gdf

   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
2  Parrot       24.0
3  Parrot       26.0

In [ ]:
gdf.groupby(['Animal']).mean() #New index will be Animal

        Max Speed
Animal
Falcon      375.0
Parrot       25.0

In [ ]:
gdf.groupby(['Animal']).count()

        Max Speed
Animal
Falcon          2
Parrot          2

- We can groupby different levels of a hierarchical index using the level parameter:

sreekanth

In [ ]:
arrays = [['Falcon', 'Falcon', 'Parrot', 'Parrot'],
          ['Captive', 'Wild', 'Captive', 'Wild']]
arrays

[['Falcon', 'Falcon', 'Parrot', 'Parrot'],
 ['Captive', 'Wild', 'Captive', 'Wild']]

In [ ]:
index = pd.MultiIndex.from_arrays(arrays, names=('Animal', 'Type'))

In [ ]:
type(index)

pandas.core.indexes.multi.MultiIndex

In [ ]:
arrays = [['Falcon', 'Falcon', 'Parrot', 'Parrot'],
          ['Captive', 'Wild', 'Captive', 'Wild']]
index = pd.MultiIndex.from_arrays(arrays, names=('Animal', 'Type'))
gdf1 = pd.DataFrame({'Max Speed': [390., 350., 30., 20.]},
                  index=index)
gdf1

                Max Speed
Animal Type
Falcon Captive      390.0
       Wild         350.0
Parrot Captive       30.0
       Wild          20.0

In [ ]:
gdf1.groupby(level=0).mean()  #Level =0 : first index

        Max Speed
Animal
Falcon      370.0
Parrot       25.0

In [ ]:
gdf1.groupby(level=1).mean()

         Max Speed
Type
Captive      210.0
Wild         185.0

In [ ]:
gdf1.groupby(level="Type").mean()  # directly using index name

         Max Speed
Type
Captive      210.0
Wild         185.0

- We can also choose to include NA in group keys or not by setting dropna parameter, the default setting is True:

In [ ]:
ls = [[1, 2, 3], [1, None, 4], [2, 1, 3], [1, 2, 2]]
gdf2 = pd.DataFrame(ls, columns=["a", "b", "c"])
gdf2

   a    b  c
0  1  2.0  3
1  1  NaN  4
2  2  1.0  3
3  1  2.0  2

In [ ]:
gdf2.groupby(by=["b"]).sum()   #Default dropna is True

     a  c
b
1.0  2  3
2.0  2  5

In [ ]:
gdf2.groupby(by=["b"], dropna=False).sum()  # Keeping NaN values

     a  c
b
1.0  2  3
2.0  2  5
NaN  1  4

# Missing Value Analysis & Treatment

In Pandas missing data is represented by two value:

- None: None is a Python singleton object that is often used for missing data in Python code.
- NaN : NaN (an acronym for Not a Number), is a special floating-point value recognized by all systems that use the standard IEEE floating-point representation

- *Checking for missing values*

1.   isnull()
2.   notnull()

In [1]:
import pandas as pd
import numpy as np

In [2]:
mdf = pd.DataFrame({'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]})
mdf

   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         40.0
2          NaN          56.0         80.0
3         95.0           NaN         98.0

In [3]:
mdf.isnull() # returns True where null value is found

   First Score  Second Score  Third Score
0        False         False         True
1        False         False        False
2         True         False        False
3        False          True        False

In [4]:
mdf.notnull() # returns True where null value is not found

   First Score  Second Score  Third Score
0         True          True        False
1         True          True         True
2        False          True         True
3         True         False         True

In [5]:
mdf.isnull().sum() # returns total null values present in each column

First Score     1
Second Score    1
Third Score     1
dtype: int64

- Dropping Null Values

In [ ]:
mdf.dropna() #Drops any row having at least one missing value

   First Score  Second Score  Third Score
1         90.0          45.0         40.0

- Missing Value Treatment

In [6]:
mdf.fillna(value = 0) # assigning 0 at missing value

   First Score  Second Score  Third Score
0        100.0          30.0          0.0
1         90.0          45.0         40.0
2          0.0          56.0         80.0
3         95.0           0.0         98.0

In [7]:
mdf

   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         40.0
2          NaN          56.0         80.0
3         95.0           NaN         98.0

In [ ]:
mdf.fillna(method = 'bfill') #missing values filled by next row

   First Score  Second Score  Third Score
0        100.0          30.0         40.0
1         90.0          45.0         40.0
2         95.0          56.0         80.0
3         95.0           NaN         98.0

In [ ]:
mdf.interpolate(method ='linear', limit_direction ='forward')

   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         40.0
2         92.5          56.0         80.0
3         95.0          56.0         98.0

In [ ]:
df = pd.DataFrame({'A': [10,20,30,40]})
df

    A
0  10
1  20
2  30
3  40

In [ ]:
df.loc[1]['A']

20

In [ ]:
arrays = [['Falcon', 'Falcon', 'Parrot', 'Parrot'],
          ['Captive', 'Wild', 'Captive', 'Wild']]
index = pd.MultiIndex.from_arrays(arrays, names=('Animal', 'Type'))
gdf1 = pd.DataFrame({'Max Speed': [390., 350., 30., 20.]},
                  index=index)
gdf1

                Max Speed
Animal Type
Falcon Captive      390.0
       Wild         350.0
Parrot Captive       30.0
       Wild          20.0

In [ ]:
pd.MultiIndex.fro

In [ ]:
index

MultiIndex([('Falcon', 'Captive'),
            ('Falcon',    'Wild'),
            ('Parrot', 'Captive'),
            ('Parrot',    'Wild')],
           names=['Animal', 'Type'])

In [ ]:
gdf1.loc['Falcon','Wild']['Max Speed']

350.0

In [ ]:
gdf1.loc['Parrot','Wild']['Max Speed']

20.0

In [4]:
def foo(a,b):
    if a > b:
        return a
        print(" a is greater ")
    else:
        return b
        print("b is greater")

In [5]:
foo(-3, -4)

-3

In [6]:
my_list=list(range(1,11))

In [8]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
list1 = [96, 97, 98, 99, 100]
 
mx = max(list1[0], list1[1])
secondmax = min(list1[0], list1[1])
n = len(list1)
for i in range(2,n):
    if list1[i] > mx:
        secondmax = mx
        mx = list1[i]
    elif list1[i] > secondmax and \
        mx != list1[i]:
        secondmax = list1[i]
    elif mx == secondmax and \
        secondmax != list1[i]:
          secondmax = list1[i]
 
print("Second highest number is : ",\
      str(secondmax))

Second highest number is :  99